<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<p>
  <strong>Educator:</strong>
  <%= @meeting.staff.username %>
</p>

<% if current_staff == @meeting.staff %>
  <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<% end %>

<%= link_to 'Back', meetings_path %>
