<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @educator.photo %>
</p>

<p>
  <strong>First name:</strong>
  <%= @educator.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @educator.last_name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @educator.class %>
</p>

<p>
  <strong>User:</strong>
  <%= @educator.user_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @educator.account_id %>
</p>

<%= link_to 'Edit', edit_educator_path(@educator) %> |
<%= link_to 'Back', educators_path %>
