<!DOCTYPE html>
<div class="index-home">
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>SFU Scheduler</title>

      <!-- Lato Font -->
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

      <!-- Installing CSS -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

      <link rel="stylesheet" type="text/css" href="landingPage.css">

  </head>
  <body>
    <div class="background">
  	<!-- Navbar -->
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container">
  			<a class="navbar-brand" href="#">SFU Scheduler</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  				<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
  				<ul class="navbar-nav mr-auto">
  					<li class="active">
  						<a class="nav-link" href="">Home</a> <!--CHANGE ALL LINKS TO 'Sign out' LINK-->
  					</li>
  					<li>
  						<a class="nav-link" href="">About</a>
  					</li>
  					<li>
  						<a class="nav-link" href="">Contact</a>
  					</li>
  				</ul>
  				<ul class="navbar-nav ml-auto">
            <% if current_user %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "a-primary" %>
            <% else %>
              <%= link_to 'Sign up', new_user_registration_path, class: "a-primary"%>
              <%= link_to 'Sign in', new_user_session_path, class: "a-primary"%>
            <% end %>
  				</ul>
  			</div>
  		</div>
  </nav>

  	<!-- Title Container -->
  	<div class="container">
  		<div class="row">
  			<div class="col-lg-12">
  				<div id="content">
  					<h1>SFU Scheduler</h1>
  					<h3>Engaging The World</h3>
  					<hr>
            <% if current_user %>
              <%= link_to 'Book Now!', calendar_path, class: "btn btn-primary btn-sm" %>
            <% else %>
            <%= link_to 'Book Now!', new_user_registration_path, class: "btn btn-primary btn-sm" %>
            <% end %>
            </hr>
  				</div>
  			</div>
  		</div>
  	</div>





  	<!-- Installing Jquery -->
  	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <!-- Installing JavaScript -->
   	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>
  </body>
  </html>

</div>
