<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>SFU Scheduler</title>
      <!-- Lato Font -->
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

      <!-- Linking CSS -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>
  <body class="loginbody">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to 'SFU Scheduler', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- Removed the HOME page tab from navbar b/c SFU Scheduler takes you to home page already -->
            <li>
              <%= link_to 'About', about_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to 'Staff', staff_list_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if current_user || current_staff %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "a-primary" %>
            <% else %>
            <%#<%= link_to 'Sign up', new_user_registration_path, class: "a-primary"%>
              <%= link_to 'Sign up', signup_path, class: "a-primary"%>
            <%#<%= link_to 'Sign in', new_user_session_path, class: "a-primary"%>
              <%= link_to 'Sign in', signin_path, class: "a-primary"%>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

<h2 class="loginheader col-lg-8">Login</h2>
<div class="formcontainer col-lg-8">
  <div class="col">

<div class="logincontainer">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions col-lg-8">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="bottomlogincontainer">
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end %>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>
</div>

  </div>
  </div>
</div>


</body>

