<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @appointment.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @appointment.title %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @appointment.duration %>
</p>

<p>
  <strong>Category:</strong>
  <%= @appointment.category %>
</p>

<p>
  <strong>Level:</strong>
  <%= @appointment.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
